@import url('https://fonts.googleapis.com/css?family=Nanum+Brush+Script|Roboto|Roboto+Slab');

@media only screen and (min-device-width: 300px) and (max-device-width: 840px){

	div {
		width: 100%;
		margin-left: auto;
		margin-right: auto;

	}
	section {
		background-color: white;
		width: 100%;
		margin-left: auto;
		margin-right: auto;
		margin-top: 0;
		margin-bottom: 0;
		padding-top: 20px;
		padding-bottom: 20px;
	}
		
}

@media only screen and (min-device-width: 840px){
	div {
		width: 50%;
		margin-left: auto;
		margin-right: auto;
		padding-left: 0;
		padding-right: 0;
		display: flex;
		flex-wrap: wrap;
		flex: 1;
	}
	section { 
	background-color: white;
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	margin-top: 0;
	margin-bottom: 0;
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	padding-top: 20px;
	padding-bottom: 20px;
}
}

body {
	max-width: 100%;
	font-family: 'Roboto Slab', serif;
	margin: 0;
	padding: 0;
	background-color: white;
}

h1 {
	font-size: 3rem;
	color: whitesmoke;
	display: block;
	text-align: center;
}

h2, h3, h4 {
	font-size: 1.8rem;
	color: black;
	display: block;
	text-align: left;
	padding-left: 25%;
	margin-top: 10px;
	margin-bottom: 5px;
}

h3 {
    font-size: 1.8rem;
	color: black; /* Jared Fish */
	display: block;
	text-align: left;
	padding-left: 25%;
	margin-top: 10px;
	margin-bottom: 5px;
}

p {
	font-size: 1.4em;
	color: whitesmoke;
	padding: 10px 40px 10px 40px;
}

ul {
	display: block;
	text-align: left;
	padding-left: 25%;
}

li {
	list-style-position: inside;
}

img {
	display: block;
	margin-left: auto;
	margin-right: auto;
	height: auto;
	width: 50%;
}



header {
	background-color: #001bff;
	margin-top: 0;
	margin-bottom: 0;
	padding-top: 20px;
	padding-bottom: 20px;
}

.bg1 {
	background-color: #ff2323;
}

.bg2 {
	background-color: #001bff;
}

.bg3 {
	background-color: #d2d2d2;
}

iframe {
	margin-left: auto;
	margin-right: auto;
	display: block;
	max-width: 100%
}

footer {
	height: 200px;
	background-color: rgb(126, 0, 210);
}

#complete {
	background-color: green;
}

#incomplete {
	background-color: rgb(126, 0, 210);
}


@keyframes fadeIn {  
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}

}

@keyframes fadeIn2 {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}


@keyframes slideInFromLeft {
from {
transform: translateX(-100%);
opacity: 0;
}
to {
transform: translateX(0);
opacity: 1;
}
}

@keyframes slideInFromRight {
from {
transform: translateX(100%);
opacity: 0;
}
to {
transform: translateX(0);
opacity: 1;
}
}
@keyframes slideInFromRight2 {
	from {
		transform: translateX(100%);
		opacity: 0;
	}
	to {
		transform: translateX(0);
		opacity: 1;
	}
}

h1 {
	animation: fadeIn 2.5s ease-in-out; /* Adjustable */
}

.fadeIn2 {
    animation: fadeIn2 2s ease-in-out; /* Adjustable */
}

.fadeIn2.visible {
    animation: fadeIn2Visible 2.5s ease-in-out;
    opacity: 1; /* Ensure the element is visible when the animation is triggered */
}

.slide-in-left {
   animation: slideInFromLeft 2s ease-in-out; /* Adjustable */
}

.slide-in-right {
   animation: slideInFromRight 2s ease-in-out; /* Adjustable */
}

.slide-in-right2 {
	animation: slideInFromRight2 3s ease-in-out; /* Slower slide animation */
}

.slow-slide-in-right2 {
	animation-duration: 2s; /* Adjustable */
}

.slow-slide-in-right3 {
	animation-duration: 2.2s; /* Adjustable */
}

.slow-slide-in-right4 {
	animation-duration: 2.4s; /* Adjustable */
}

.header-font {
  font-family: 'Raleway', sans-serif;
}

.bodypara-font {
	font-family: 'Roboto', sans-serif;
}

.fixed-bottom {
position: fixed;
bottom: 7px; /* Adjustable distance from the bottom */
left: 60%;
transform: translateX(-50%);
z-index: 50; /* Make sure buttons ON TOP other stuff */
}